body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: #fff;
  margin: 40px;
}

h1 strong {
  color: #fccb0b;
}

h2 {
  color: #fccb0b;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

/* Header section */

.header {
  background-color: #1d242a;
  color: #fff;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.hero {
  height: 300px;
  background-color: #1d242a;
  display: flex;
  align-items: center;
  justify-content: inherit;
}
.hero-image {
  object-fit: cover;
}

/* Portfolio section */

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  background-color: #fff;
  box-shadow: 2px 2px 20px -7px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  margin-right: 0%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.project-details {
  width: 500px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}
.project-imageContainer {
  width: 500px;
}

/* Events section */
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
  background: #f4fbff;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #fff;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid #fccb0b;
  padding: 5px 20px;
  text-decoration: none;
  color: #fccb0b;
  border-radius: 5px;
}

/* Contact section */
.contact {
  background-color: #aaa;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 25px 25px;
  margin: 0 10px;
}
.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}

.form-email input {
  border-color: #ddd;
  border-radius: 5px;
  border-style: solid;
  border: 1px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: #fff;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Footer section */

.footer {
  color: white;
  background-color: #1d242a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.footer a {
  color: #fff;
}