@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?udmfnm');
  src: url('../fonts/icomoon.eot?udmfnm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?udmfnm') format('truetype'),
    url('../fonts/icomoon.woff?udmfnm') format('woff'),
    url('../fonts/icomoon.svg?udmfnm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-envelope:before {
  content: "\ea85";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: #00ff00
  margin: 40px;
}

h1 strong {
  color: #fccb0b;
}

h2 {
  color: #fccb0b;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: #666;
  position: relative;
}

.youtube-video {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.burguer-button {
  width: 50px;
  height: 50px;
  border-radius:50%;
  background-color: rgba(0, 0, 0, .75);
  display: none;
  line-height: 50px;
  text-align: center;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  color: white;
}

.b-lazy {
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
}

/* Header section */

.header {
  background-color: #1d242a;
  color: #fff;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.hero {
  height: 300px;
  color: #fafafa;
  background-color: #1d242a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-image {
  object-fit: cover;
}

/* Portfolio section */

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  background-color: #fff;
  box-shadow: 2px 2px 20px -7px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}
.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

/* Events section */
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
  background: #fafafa;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #fff;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  border: 1px solid #fccb0b;
  padding: 5px 20px;
  text-decoration: none;
  color: #fccb0b;
  border-radius: 5px;
}

/* Contact section */
.contact {
  background-color: #aaa;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 25px 25px;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
}
.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}

.form-email input {
  border-color: #ddd;
  border-radius: 5px;
  border-style: solid;
  border: 1px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: #fff;
  padding: 10px 0;
  border: 1px solid;
  border-radius: 5px;
  width: 100px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Footer section */

.footer {
  color: white;
  background-color: #1d242a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  flex-wrap: wrap;
  padding: 0.75em 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}

/* Responsive media queries */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }

  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .burguer-button {
    display: block;
  }
  
  .header {
    display: block;
    height: auto;

  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: .5em;
    text-shadow: 1px 1px 1px #666;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background-color: rgb(252, 203, 11, .85);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    font-size: 20px;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: .3em 0;
  }
  .project-title {
    font-size: 1.5em
    margin-bottom: .3em;
  }
  .project-url {
    font-size: 1em
  }
  .project-course {
    font-size: 1..7em;
  }
  .project-date {
    font-size: 1em
  }
  .project-description {
    font-size: .8em;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.6em;
    text-shadow: 1px 2px 2px#000;
  }
  .hero-image {
    filter: opacity(80%) blur(1px);
  }

  .project-details {
    font-size: 18px;
  }

  .event-detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1.5em 0;
    display: block;
    text-align: center;
  }
  .form-email {
    flex-direction: column;
    text-align: center;
  }
  .form-email button {
    margin: 1em auto;
    font-size: 16px;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.4em;
  }
  .hero {
    padding: 2em 1em;
  }
}